body {
      font-family: 'Roboto', sans-serif;
      margin: 0px;
    } 
h1{
    font-size: 35px;;
}
.name{color: orange;}
.left{
    width: 40%;
    float: left;
    padding-left: 5%;

}
.right{
    width: 40%;
float: left;
}
.right img{
    width: 100%;
}
p{font-family: 'Alfa Slab One', cursive;}
.welcome{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}